body{
    text-align: center;
    background: linear-gradient(pink, blue);
    color: white;
    font-family: "Happy Monkey", system-ui;
    text-shadow: 0px 0px 1px black;
}

.birthday{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 6px solid pink;
}

#bday-age{
    background: pink;
    border-radius: 6px;
    padding: 4px 8px;
    margin: 10px 0px;
}

#wishing{
    background: pink;
    border-radius: 6px;
    padding: 4px 8px;
    margin-top: 4px;
}

.image{
    background-image: url("https://plus.unsplash.com/premium_photo-1667343251614-9ad053254a3c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmlydGhkYXklMjBnaWZ0fGVufDB8fDB8fHww");
    width: 400px;
    height: 400px;
    background-size: cover;
    border-radius: 10px;
    border: 6px solid pink;
    margin: auto;
}

#heading2{
    margin-bottom: 0px;
}

#heading3{
    margin-top: 10px;
}

.image:hover{
    background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExbzFreDBiM2pmNWxjNGpwd25hcmR2bGd1NXYxOGpnb2NiOXl5OWU1cSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/hZj44bR9FVI3K/giphy.webp");

}

.h2{
    margin-top: 50px;
}

.reaction-pic{
    background-image: url("https://plus.unsplash.com/premium_photo-1667343251614-9ad053254a3c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmlydGhkYXklMjBnaWZ0fGVufDB8fDB8fHww");
    width: 400px;
    height: 400px;
    background-size: cover;
    border-radius: 10px;
    border: 6px solid pink;
    margin: auto;
}

.reaction-pic:hover{
    background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExc2k2eTBjbjY4eDBieDI2dHZuc2V0dXh1MGg5NTZudXc1ZzhrbjJkZSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/7KSxq4baJ73ytLBjWF/giphy.webp");
    background-size: cover;
}

.gift-section{
    margin-top: 50px;
}

#gift-image:hover{
    background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExeWtmNzFjbG0xb2Zibzd4enF2ZDU1MnI3cGxuYTJlcW1kYWRteTluNyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/2yrdpdeTbSoxVWETWp/200.webp");
    background-size: cover;
}

#gift-image-bad:hover{
    background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExbjZ4cTUwaXZ4ZmhhczB5empuNWJtb2R0N3B1ODVycDQzYmlicGZ2bCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/z9iE1SPAptyLK/giphy.webp");
    background-size: cover;
}

#gift-image-3:hover{
    background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExYzk1am81OHZ2aHBtdzYzOXY0YXRsNDdiNXp6MXB3N3hrcWw1dno2YyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/DfLwM9kttDFEQ/giphy.webp");
}

#footer{
    margin-top: 50px;
}