.container{
    display: flex;
    padding: 20px;
    background: rgb(12, 10, 10);
    color: rgb(216, 214, 214);
    justify-content: space-around;
    margin:auto;
    width: 400px;
    text-align: center;
    border-radius: 30px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    border-top: 5px solid gold;
    border-bottom: 5px solid gold;
    border-left: 5px solid gold;
    border-right: 5px solid gold;
}

.container:hover {
    transform: translateY(-8px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.img{
    width: 150px;
}